{% load i18n %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% if not inline_admin_formset.formset.initial_forms.0.initial.language and not inline_admin_formset.formset.extra_forms.0.initial.language %}
	<p class="errornote">
		<strong>{% trans "Warning!" %}</strong>
		{% trans "Please set at least one language to manage translatable objects." %}
	</p>
{% else %}
{% for inline_admin_form in inline_admin_formset %}{% if not forloop.last %}
		<div class="inline-related" id="{{ inline_admin_formset.formset.prefix }}-{{ forloop.counter0 }}">
			<h3>
				<a href="#"  rel="nofollow" class="inline-related-switcher"{% with index=forloop.counter|stringformat:"s" %}{% if inline_admin_formset.formset.errors|slice:index|last %} style="color: red;"{% endif %}{% endwith %} >
					<b>{% if inline_admin_form.original %}{% get_language_info for inline_admin_form.original.language_id as lang %}{% else %}{% get_language_info for inline_admin_form.form.initial.language as lang %}{% endif %}{{lang.name}}</b>
				</a>
				{% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
	 		</h3>
	 		<div class="inline-related-content{% if not forloop.first %}" style="display: none;{% else %} visible{% endif %}">
				{% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
				{% for fieldset in inline_admin_form %}{% include "admin/includes/fieldset-with-hidden-language.html" %}{% endfor %}
				{% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
				{{ inline_admin_form.fk_field.field }}
			</div>
		</div>{% endif %}
{% endfor %}

<script>
	(function($) {
	
		var cont = $("#{{ inline_admin_formset.formset.prefix }}-group");
		cont.append(cont.children(".inline-related").detach().sort(function(a, b) {
			if (a.children[0].children[0].children[0].textContent.toLowerCase() > b.children[0].children[0].children[0].textContent.toLowerCase()) return 1;
			return -1;
		}));

		$('.inline-related-switcher').click(function() {
			var inline_h3 = $(this).parent();
			if (inline_h3.siblings('.inline-related-content').hasClass('visible')) return;
			var inline_root = inline_h3.parent().parent();
			
			inline_root.find('.inline-related-content.visible').removeClass('visible').slideUp();
			inline_h3.siblings('.inline-related-content').addClass('visible').slideDown();
		});		
		
	})(django.jQuery);
</script>
{% endif %}
</div>