{% extends "admin/base_site.html" %}{% load i18n admin_urls static %}

{% block extrahead %}{% if perms.translations.edit_translations %}
<script src="{% static "admin/js/jquery.min.js" %}"></script>
<script src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript">
	(function($) {
		var call_and_update = function(el) {
	
			var text = el.text();
			el.text('{% trans 'Loading messages...' %}');
			
			$.get(el.attr('href'), function(data) {
				el.text(text);
				$('#translation-messages-wrapper').html(data);
			});
		}
		
		$(document).ready( function() {
			$('#update-messages').click(function() {	
				call_and_update($(this));
				return false;
			});
			{% if not warning %}
			$('#generate-messages').click(function() {
				$('#update-alert').show();
				return false;
			});
			
			$('.cancel-regenerate').live('click', function() {
				$('#update-alert').hide();
			});
			
			$('.do-regenerate').live('click', function() {
				$('#update-alert').hide();
				call_and_update($('#generate-messages'));
				return false;
			});
			{% endif %}
		});
	})(django.jQuery);
</script>
{% endif %}{% endblock %}

{% block bodyclass %}translate-messages-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
	&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
	&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if has_change_object_permission %}<a href="{% url opts|admin_urlname:'change' language.pk %}">{{ language }}</a>{% else %}{{ language }}{% endif %}
    &rsaquo; {{title}}
</div>
{% endblock %}

{% block content %}
	<div id="content-main">{% block object-tools %}{% if not error %}{% if not is_popup %}
		<ul class="object-tools">
		{% block object-tools-items %}{% if perms.translations.edit_translations %}
			<li><a id="{% if warning %}update-messages{% else %}generate-messages{% endif %}" href="generate/{% if not warning %}?delete=1{% endif %}" class="historylink">{% if warning %}{% trans "Generate messages" %}{% else %}{% trans "Regenerate messages" %}{% endif %}</a></li>
			{% if not warning %}<li><a id="update-messages" href="generate/">{% trans "Update messages" %}</a></li>{% endif %}
		{% endif %}{% endblock %}
		</ul>{% endif %}{% endif %}{% endblock %}
		<div id="translation-messages-wrapper">
		{% include "admin/includes/translation_messages_list.html" %}
		</div>
	</div>
{% endblock %}