{% load i18n %}{% if not warning %}
<div id="update-alert" style="display: none;" class="system-message">{% trans "Are you sure you want to regenerate the messages? This will override your changes. " %} <a href="#" class="do-regenerate pointer" rel="nofollow">{% trans "Yes" %}</a> | <a href="#" class="cancel-regenerate pointer" rel="nofollow">{% trans "No" %}</a></div>
{% endif %}
{% if error %}
<p class="errornote">{{ error|safe }}</p>
{% else %}
	{% if warning %}
	<div class="system-message">{{ warning|safe }}</div>
	{% endif %}
	{% if lang_files %}
	<table class="module">
		<caption>{% trans "Available files" %}</caption>
		<tbody>{% for lang_file in lang_files %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<th scope="row">{{lang_file}}</th>
				<td>
					{% if perms.translations.edit_translations %}
					<a class="changelink" href="{{lang_file}}">{% trans 'Edit'%}</a>
					{% endif %}
				</td>
			</tr>{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endif %}